1. In the below elements which of them are values or an expression? eg: - values can be integer or string and expressions will be mathematical operators.

Ans:        *             Expression
            'hello'       Value
            -87.8         Value
            -             Expression
            /             Expression
            +             Expression
             6            Value

2. What is the difference between string and variable?
Ans:  Variable is used to store information or data, while string  is itself a data or information.
For example: A =” Hello world “
Here A is a variable and ” Hello world “ is string

3. Describe three different data types.
Ans: The three different data types are,1 Numeric Types: int, float. 2 Text Type: str. 3 Boolean Type: bool and many more data types  
•	Numeric Types: int, float.
The integer data type represents whole numbers without any fractional or decimal part.Examples: -5, 0, 10, 1000.
Floats are represented using the floating-point notation, which includes a decimal point and allows numbers to have a fractional part. Examples:  3.14, -0.5, 2.0, etc.

•	Text Type: str
The string data type represents a sequence of characters enclosed within single quotes (' ') or double quotes (" ").Examples: "Hello", 'Python', "42".

•	Boolean Type: bool
The two possible Boolean values are represented by the built-in objects True and False. It's important to note that in Python, these values are case-sensitive, so True and False must be capitalized exactly as shown. And this data type are more use in if and else statements. Example : True and False

4. What is an expression made up of? What do all expressions do?
Ans: An expression is made up of values and operators. All expressions reduce to a single value eg: 3+5=8

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans: In expression we get a single values but in statements we do not get single value.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Ans:  The variable bacon is set to 22 after running the code we get the output as ‘23’. In this code we are just adding 1 to the preassign value of bacon. The value of bacon remain the same after running this code. To change the value we need statement like bacon = bacon +1

In [5]:
bacon=22
bacon+1

23

In [6]:
bacon=22
bacon=bacon+1
print(bacon)

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'      
'spam' * 3
Ans: Both expression results in the same output 'spamspamspam'

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [8]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
Ans: Because variables cannot be started from numbers.

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans: The int(),float() and str() function will evaluate to the integer, floating-point number, or string version of a value passed to them.

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans: -   Here 99 is an integer therefore we are getting an error like this (can only concatenate str (not "int") to str) only string can be concatenated to other strings with the + operator. The correct way is ‘I have eaten ' + str (99) + ' burritos.'

In [10]:
print('I have eaten ' + str(99) + ' burritos.')

I have eaten 99 burritos.

In [11]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str